<table style="background-color:#a8a8a8;width: 100%;height: 100%" cellspacing="0" cellpadding="0" border="0">
<tr>
    <td align="center">
        <table style="width: 700px;font-family: tahoma;font-size: 12px;margin: 10px;line-height: 25px" align="center" border='0'cellpadding="0" cellspacing="0" dir="rtl">
            <tr>
                <td style="background: #252525;height: 75px;">
                    <div style="float: left;"> 
                     	<a href="http://madaner.ir/">
            				<img width="275" height="68" alt="" src="http://madaner.ir/img/icons/logo.png">                     
            			</a>   
                    </div>
            		<div style="color: #FFFFFF;float: right;font-weight: bold;margin-right: 5px;margin-top: 50px;">
            			خبرنامه شماره یکم / 1392
            		</div>
                </td>
            </tr>
            <tr>
                <td style="background-color: #ffffff;border: 1px solid #acacac;">
                    <div style="background-color: #ebebeb;border: 1px solid #acacac;margin: 10px;padding: 5px;">
            		    <table style="line-height: 20px;" border="0" cellpadding="0" cellspacing="0" width="98%" dir="rtl" align="center">
							<tr>
							  <td>
								<div style="float: right;width: 130px;">
									<img src="http://www.madaner.ir/uploads/user/image/thumb/c9def90da8c66fb3980bef6921c4988c.jpg" />
								</div>
								<div style="margin-right: 10px"> 
									<h5> سلام ، مصطفی محمدی پور </h5>
		
									<div style="font-family: tahoma;font-size: 13px;margin: 5px;">
										مهندسین، اساتید و متخصصان بسیاری در معدنر منتظر شما هستند. خبرهای بسیاری از معدن در شبکه وجود دارد که شما از آنها بی اطلاع مانده اید. همچنین افراد جدید بسیاری به معدنر آمده اند. آنها را دنبال کنید و شبکه حرفه ای و خبری خود را گسترش دهید.
									</div>
								 </div>	
							  </td>
							</tr>
							<tr>
								<td style="font-family: tahoma;font-size: 13px;">
									<b>گفتگوهای جذاب</b> : این خبرها بیشترین پاسخ را دریافت کرده اند
								</td>
							</tr>
							<tr>
								<td style="padding: 5px;">
								
 								  <div style="border: 1px solid #464444; min-height: 150px;background-color: #d1d1d1;">	 
									<div style="float: right;height: 100px;min-width: 100px;overflow: hidden;">
									<img src="http://www.madaner.ir/uploads/user/image/thumb/c9def90da8c66fb3980bef6921c4988c.jpg" style="height: auto;max-height: 130px;width: 100px;" />
									</div>
									<div style="float: right;margin: 8px;width: 515px;"> 
										<div style="float: right;font-family: tahoma;font-size: 12px">
											مصطفی محمدی پور @
											<a href="#" style="color:#378abb">
												mostafamohamadipoor
											</a>
										</div>
										<div style="float: left;font-family: tahoma;font-size: 12px">
											<a href="#" style="color:#505050;text-decoration: none;">
												1392/11/11/ - 12:25
											</a>
										</div>
										 
										<div style="float: right;margin-top: 5px;font-family: tahoma;font-size: 13px;">
											ارسال نامه‌ای به چند صراف، با اشاره به صدور کیفرخواست از سوی دادسرای عمومی انقلاب، با استناد به قانون، خواستار پرداخت بیش از 60 میلیارد تومان جریمه که دو برابر ارز مکشوفه از این صرافان بوده، شده است. ارسال نامه‌ای به چند صراف، با اشاره به صدور کیفرخواست از سوی دادسرای عمومی انقلاب، با استناد به قانون، خواستار پرداخت بیش از 60 میلیارد تومان جریمه که دو برابر ارز مکشوفه از این صرافان بوده، شده است.
										</div>
										 
									</div>
									<div style="float: left;margin-left: 5px;">
									 <a href="#" style="color:#378abb;text-decoration: none;font-family: tahoma;font-size: 11px;">
										همه پاسخ ها را ببینید و در گفتگو شرکت کنید
									 </a>	
									</div>
                                    <div style="clear: both"></div>
								  </div> 
								  
								  
								  
								  
								</td>
							</tr>
                            <tr>
								<td style="font-family: tahoma;font-size: 13px;">
									<b>افراد پر طرفدار</b> : این افراد بیشترین دنبال کننده ها را در این هفته داشته اند
								</td>
							</tr>
                            <tr>
                                <td>
                                    <div style="margin-top: 5px;font-family: tahoma;font-size: 13px;border: 1px solid #bfbfbf;background-color: #ffffff;padding: 5px;width: 97%;">
                                      <div style="border-bottom: 1px solid #bbb7b7; min-height: 120px;">	
                                          <div style="float: right;height: 100px;min-width: 100px;overflow: hidden;">
    									    <img src="http://madaner.ir/uploads/user/image/thumb/e8a65e6090a482026d1ef74182770312.jpg" style="height: auto;max-height: 130px;width: 100px;" />
    									  </div>
                                          
                                          <div style="float: right;font-family: tahoma;font-size: 12px">
											مصطفی محمدی پور @
											<a href="#" style="color:#378abb">
												mostafamohamadipoor
											</a>
										</div>
										<div style="float: left;font-family: tahoma;font-size: 12px">
											<a href="#" style="background-color: #4DAFF6;color: #FFFFFF;float: right;margin-left: 10px;margin-top: 15px;padding: 5px;text-decoration: none;">
												دنبال کنید
											</a>
										</div>
                                        <br>
                                        <h2 style=" border-left: 1px outset rgba(0, 0, 0, 0.6);color: #666666;display: inline-block;font-size: 12px;margin: 0 5px 5px 0;padding: 5px;text-align: right;font-family: tahoma;font-size: 12px;">تهران</h2>
                                        <h2 style=" border-left: 1px outset rgba(0, 0, 0, 0.6);color: #666666;display: inline-block;font-size: 12px;margin: 0 5px 5px 0;padding: 5px;text-align: right;font-family: tahoma;font-size: 12px;">معدن</h2>
                                        <h2 style="color: #666666;display: inline-block;font-size: 12px;margin: 0 5px 5px 0;padding: 5px;text-align: right;font-family: tahoma;font-size: 12px;"><a style="color: #666666" href="http://www.madaner.ir">www.madaner.ir</a></h2>
                                        <div style="color: #666666;display: block;margin: 0 5px;text-align: justify;">
	                                        بزرگترین شبکه خبری معدن و صنایع وابسته، مزایده ها، مناقصه ها، خرید و فروش، فرصت های سرمایه گذاری، قیمت مواد معدنی
	                                     </div>  
                                      </div>
									  
									  
                                        
                                    </div>
									
									
                                </td>
                            </tr>
                            <tr>
								<td style="font-family: tahoma;font-size: 13px;">
									<b>موضوعات داغ هفته :</b> 
								</td>
							</tr>
                            <tr>
                                <td>
                                    <a href="#" style="color: #1a77bc;font-family: tahoma;font-size: 13px;font-weight: bold;">#معدن</a> ,
                                    <a href="#" style="color: #1a77bc;font-family: tahoma;font-size: 13px;font-weight: bold;">#معدن</a> ,
                                    <a href="#" style="color: #1a77bc;font-family: tahoma;font-size: 13px;font-weight: bold;">#معدن</a>
                                </td>
                            </tr>
							<tr>
								<td style="font-family: tahoma;font-size: 13px;border-bottom: 2px solid #959595;padding-bottom: 8px;padding-top: 5px">
									<b>آمار اختصاصی شما در هفته گذشته :</b> 
								</td>
							</tr>
							<tr>
								<td style="font-family: tahoma;font-size: 13px;">
									پیام های خوانده نشده :15
								</td>
							</tr>
							<tr>
								<td style="font-family: tahoma;font-size: 13px;">
									تعداد نوتیفیکیشن ها :15
								</td>
							</tr>
                            <tr>
								<td style="font-family: tahoma;font-size: 13px;">
									افراد زیر شما را در این هفته دنبال کرده اند : 12 نفر
								</td>
							</tr>
                             <tr>
								<td style="font-family: tahoma;font-size: 13px;">
									4 نفر از آخرین  دنبال کننده ها :  
								</td>
							</tr>
                            <tr>
                                <td>
                                    <div style="font-family: tahoma;font-size: 13px;border: 1px solid #000000;background-color: #cccccc;float: right;width: 48%;height: 190px;margin: 5px;">
                                        <div style="float: right;height: 100px;min-width: 100px;overflow: hidden;margin-bottom: 5px">
        									    <img src="http://madaner.ir/uploads/user/image/thumb/e8a65e6090a482026d1ef74182770312.jpg" style="height: auto;max-height: 130px;width: 100px;" />
        							    </div>
                                        <div style=" display: inline-block;line-height: 200%;margin-right: 5px;position: relative;vertical-align: top;">
                                        	<span class="userName">مجتبی پوراصغر</span><br>
                                			<a href="http://localhost/madaner/mojtabadj" style="color: #0069ff">@mojtabadj</a>
                                			<br>
                                            <span class="minidata">  تجهیزات و ماشین آلات |</span>
                                            <span class="minidata">  تهران</span>
                                        </div>
                                      
                                        <div style="border-top: 1px solid rgba(0, 0, 0, 0.2); clear: both;display: block;float: none;height: 75px;margin-right: 8px;margin-top: 5px;padding-top: 5px;width: 280px;">
                            			 	
                                            <div style="background-color: #669900;color: #FFFFFF;font-family: tahoma;font-size: 13px;float: right;height: 70px;width: 80px;margin-right: 7px;position: relative;">
                                                <span style="float: right;font-size: 20px;margin-right: 27px;margin-top: 10px;">25</span>
                                                <label style="font-size: 10px;float: right;font-size: 10px;margin-right: 12px;margin-top: 5px;">خبرهای من</label>
                                            </div>
											
											<div style="background-color: #42719f;color: #FFFFFF;font-family: tahoma;font-size: 13px;float: right;height: 70px;width: 80px;margin-right: 13px;position: relative;">
                                                <span style="font-size: 20px;position: absolute;right: 30px;top: 10px;">25</span>
                                                <label style="font-size: 10px;position: absolute;right: 13px;top: 36px;">خبرهای من</label>
                                            </div>
											
											<div style="background-color: #424242;color: #FFFFFF;font-family: tahoma;font-size: 13px;float: right;height: 70px;width: 80px;margin-right: 13px;position: relative;">
                                                <span style="font-size: 20px;position: absolute;right: 30px;top: 10px;">25</span>
                                                <label style="font-size: 10px;position: absolute;right: 13px;top: 36px;">خبرهای من</label>
                                            </div>
                                            		 
                                       </div>  
                                        
                                    </div>
									
									
									
									
									
									
                                </td>
                            </tr>
						</table>
            	    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
				  <?php echo __('newsletter_info1'); ?>
                   (mojtaba.developer@gmail.com)  
				   <?php echo __('newsletter_info2'); ?>
				    -
                  <a href="#" style="color:#3182bd"> <?php echo __('cancel_subscription') ?> </a>  
                </td>
            </tr>
			<tr>
                <td align="center">
				 <?php echo __('newsletter_info3') ?>
                   :
                  <a href="info@madaner.ir" style="color:#3182bd"> info@madaner.ir </a>  
                </td>
            </tr>
			<tr>
                <td align="center">
                    
				  <?php echo __('newsletter_info4') ?>
                  <a href="http://www.madaner.ir" style="color:#3182bd"> www.madaner.ir </a>  
                </td>
            </tr>
        	
        </table>
     </td>
   </tr>   
</table>