/* CSS Document */
body
{
	direction:rtl;
	margin:0;
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	background:url(../img/body-bg.gif) repeat;
}
a,a:visited,a:active
{
	color:inherit;
	text-decoration:none;
}
input, textarea, select, button {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
}
textarea
{
	background-color:rgb(255,255,204);
	background-color:rgba(255,255,204,0.9);
	border:none;
}
.especialCeckBox
{
	margin-bottom:-10px;
	display:inline-block;
	width:29px;
	height:29px;
	background:url(../img/icons/tick.png) right;
}
.especialCeckBox:hover
{
	cursor:pointer;
}
.especialCeckBox.checked
{
	background-position:left;
}
.especialCheckBoxRemoved
{
	display:none;
}
ul
{
	margin:0;
	padding:0;
	list-style:none;
}
a:hover
{
	text-decoration:underline;
}
input[type="text"],
input[type="password"],
input[type="email"]
{
	height:30px;
	padding:5px;
}
input,
textarea
{
	border:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
input:focus,
textarea:focus
{
	background:#EFFFE1;
	outline:none;
}
.btn
{
	/**box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-weight:bold;
	height:30px;
	background:url(../img/btn_back_mask.png) repeat-x;
	border:1px solid rgba(0,0,0,0.3);
	box-shadow:0 0 3px rgba(0,0,0,0.5);
	border-radius:5px;
	text-shadow:0 0 4px rgba(0,0,0,0.65);
	display:inline-block;*/
	color:#fff;
   
	
}
.extraBtn .btn
{
	padding:0 9px; 
}
.btn img
{
	width:28px;
	height:28px;
	/*margin:-5px -10px 0 5px;
	float:right;*/
}
.btn:hover
{
	cursor:pointer;
    
}

.btn.ok
{
	background-color:#50AFF2;
    
}
.btn.ok:hover
{
	background-color:#0066FF;
}
.btn.attach
{
	background-color:#666666;
	background-image: url('../img/icons/attach.png');
	background-position:center;
	background-repeat:no-repeat;
}
.btn.attach:hover
{
	background-color:#999999;
}
.btn.cancel
{
	background-color:#FF0000;
}
.btn.cancel:hover
{
	background-color:#FF6600;
}
input[type="text"],
 input[type="email"],
 input[type="password"]
{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:5px;
	border:1px solid rgba(204,204,204,1);
}
input[type="button"],
input[type="submit"]
{
	background-color:#3A8ACB;
	color:white;
	padding:5px 8px 7px 8px;
	border:none;
	margin:0 5px 0 5px;
	cursor:pointer;
}
.tick
{
	width:29px;
	height:29px;
	background:url(../img/icons/tick.png) no-repeat;
	background-position:left;
}
.tick:hover
{
	cursor:pointer;
}
.tick.uncheked
{
	background-position:right;
}
ul.hashTag
{
	width:100%;
	line-height:100%;
}
ul.hashTag li
{
	display:inline-block;
	height:23px;
	padding:5px 10px 0 10px;
	background-color:rgb(37,153,239);
	color:#fff;
	font-family:Tahoma, Geneva;
}
ul.hashTag li:hover
{
	cursor:pointer;
	background-color:rgb(80,175,242);
}
ul.hashTag li a
{
	display:inline-block;
	text-decoration:none;
}
.seperator_Hor
{
	width:90%;
	height:0;
	margin:2px 5% 2px 5%;
	border-width:1px 0 1px 0;
	border-style:solid;
	border-bottom-color:rgba(255,255,255,0.2);
	border-top-color:rgba(0,0,0,0.2);
}
.loading
{
	text-align:center;
	margin:0 auto;
	margin-top:10px;
	width:150px;
	height:60px;
	background:rgba(255,255,255,1) url(../img/icons/loading3.gif) no-repeat center center;
	padding:5px 5px 0 5px;
	border-radius:7px;
	color:#0066ff;
	position:relative;
	z-index:3;
}
.clear
{
	clear:both;
}
.loading
{
	
}
.star
{
	width:20px;
	height:20px;
	background-image:url(../img/icons/star.png);
	background-position:left;
}
.star:hover,
.star.active
{
	background-position:right;
}
.close
{
	width:20px;
	height:20px;
	background-image:url(../img/icons/close.png);
	background-position:left;
}
.close:hover
{
	background-position:right;
	cursor:pointer;
}
.expand
{
	width:20px;
	height:20px;
    background:url(../img/icons/expand.png);
	background-position:left;
}
.expand:hover
{
	background-position:right;
}
.message_icon,
.editProfile_icon
{
	width:32px;
	height:32px;
	background-position:left;
}
.message_icon:hover,
.editProfile_icon:hover
{
	background-position:right;
}
.message_icon
{
	background-image:url(../img/icons/Mail.png);
}
.editProfile_icon
{
	background-image:url(../img/icons/edit_profile.png);
}
.newMessage
{
	width:32px;
	height:32px;
	background:url(../img/icons/newMessage.png) left;
}
.newMessage:hover
{
	background-position:right;
	cursor:pointer;
}
.topBtm2
{
	width:20px;
	height:20px;
	background:url(../img/icons/social_activity_icon.png) -266px 0 no-repeat;
	display:inline-block;
}
ul.withSeperator
{
}
ul.withSeperator li
{
	border-style:solid;
	border-width:0 1px 0 1px;
	border-color:#000 rgba(0,0,0,0.3) #000 rgba(255,255,255,1);
}
ul.withSeperator li:first-child
{
	border-width:0 0 0 1px; 
}
ul.withSeperator li:last-child
{
	border-width:0 1px 0 0; 
}
#header
{
	width:100%;
	height:122px;
	background:url(../img/header-bg.gif) repeat-x;
        position:fixed;
	top:0;
	z-index:25;
}
#header .content
{
	width:1000px;
	height:122px;
	margin:0 auto;
	position:relative;
}
#header .content #logo
{
	width:275px;
	height:68px;
	float:left;
}
#header .content ul.topMenu
{
	position:absolute;
	bottom:0;
	right:0;
}
#header .content ul.topMenu li
{
	display:inline-block;
	float:right;
}
.searchBar
{
	position:absolute;
	bottom:5px;
	left:40px;
}
.searchBar *
{
	float: right;
}
.searchBar .searchM
{
	width:430px;
	height:30px;
	background-color:#555;
}
.searchBar .searchM .searchBar_form input[type="search"]
{
	width:300px;
	padding:5px 0;
	background:transparent;
	color:#30709E;
	border:none;
	color:#fff;
}
.searchBar .searchM .searchBar_form ul.SelectOption
{
	width:100px;
	display:inline-block;
	height:30px;
	color:#fff;
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.2);
	position:relative;
	z-index:10;
}
.searchBar .searchM .searchBar_form ul.SelectOption li
{
	float:right;
	width:88px;
	height:18px;
	padding:6px;
	display:block;
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.7);
}
.searchBar .searchM .searchBar_form ul.SelectOption li .topBtm2
{
	margin:2px -5px 0 2px;
}
#header .content .searchBar .searchM .searchBar_form ul.SelectOption li.active
{
	background:none;
}
.searchBar .searchM .searchBar_form ul.SelectOption li:hover
{
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.8);
	cursor:pointer;
}
.searchBar .searchM .searchBar_form input[type="submit"]
{
	margin:0;
	padding:0;
	background-image:url(../img/icons/search_icon.png);
	border:none;
}
.searchBar .searchM .searchBar_form input[type="submit"]:hover
{
	opacity:1;
	cursor:pointer;
}
#content
{
	margin-bottom: 20px;
    min-height: 500px;
    min-width: 1000px;
    padding-top: 142px;
    position: relative;
    text-align: center;
}
#content > *
{
	text-align:right;
}
.notifications
{
	padding-top:2px;
	margin:-5px 5px 0 5px;
	display:inline-block;
	width:20px;
	height:20px;
	text-align:center;
	background:red;
	color:rgba(255,255,255,1);
	font-weight:bold;
	border:2px solid #fff;
	border-radius:12px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.6);
}
#content .mainPanel 
{
	float: left;
    margin-left: 35px;
    width: 680px;
}
/*start footer region*/
#footer
{
	margin-top:30px;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.8);
	height:100px;
	width:100%;
	position:relative;
	overflow:hidden;
}
#footer ul
{
	/*float:right;*/
	margin:5px 5% 5px 5%;
}
#footer ul li
{
	/*float:right;*/
	display:inline-block;
	margin-left:10px;
	color:#30709E;
}
#gilace
{
	position:absolute;
	left:40%;
	bottom:-70px;
	opacity:0.5;
	margin-top:30px;
	width:254px;
	height:133px;
	background:url(../img/gilace2.png);
	color:#00365b;
}
#gilace .text1
{
	position:absolute;
	top:82px;
	left:25px;
}
#gilace .text2
{
	position:absolute;
	top:82px;
	right:35px;
}
/*end footer*/

/*helpBtn*/
#header .content .help
{
	position:absolute;
	bottom: 0;
	left:0px;
}
#header .content .help span,
#header .content .help img
{
	float:right;
}
#header .content .help span
{
	margin-top:7px;
	color:#ACACAC;
}

#NewPost
{
	position:absolute;
	background:rgba(20,20,20,0.9);
	width:565px;
	height:110px;
	z-index:2;
	top:130px;
	right:240px;
	box-shadow:2px 2px 6px rgba(0,0,0,0.1);
	display:none;
}
#NewPost .toptrail
{
	border:solid;
	border-width:10px 0 10px 10px;
	border-color:transparent blue rgba(20,20,20,0.9) transparent;
	width:0;
	height:0;
	position:absolute;
	top:-20px;
	right:50px;
}
#NewPost .newComnt
{
	margin:5px 5px 0 0;
	position:relative;
	display:none;
}
#NewPost .newComnt .btn
{
	float:right;
	margin:3px 2px 0 10px ;
	padding-top:0px !important;
}
#NewPost .newComnt .commnetTXB
{
	padding:5px;
	margin:0 2px 5px 0;
	font-size:12px;
	color:rgba(102,102,102,1);
	width:550px;
	
	display:none;
}
#NewPost .newComnt ul.icons
{
	float:left;
	margin:2px;
	display:none;
}
#NewPost .newComnt ul.icons li
{
	float:left;
	margin-right:5px;
}
#NewPost .newComnt ul.icons li:hover
{
	cursor:pointer;
}
#NewPost .newComnt span.characterCounter
{
	width:200px;
	margin:10px 5px 0 0;
	font-size:11px;
	font-style:italic;
	color:rgba(102,102,102,1);
	direction:rtl;
	float:right;
}
#NewPost .newComnt span.characterCounter .commentCounter1
{
	display:inline;
	color:#FFF;
}
#NewPost .newComnt .attachment
{
	float:left;
	background:rgba(153,0,0,0.8);
	color:#fff;
	font-size:11px;
	padding:0 0 0 5px;
	margin-top:5px;
	display:block;
}
#NewPost .newComnt .attachment .close
{
	float:right;
	margin-left:5px;
}
/*submenu*/
.menuBtn
{
	width:18px;
	height:16px;
	background:url(../img/menu.png) left;
}
.help .menuBtn
{
	width:24px;
	height:24px;
	background:url(../img/icons/computer.png) left;
}
.menuBtn:hover
{
	background-position:right;
	cursor:pointer;
}
/*submenu*/
.submenu
{
	position:absolute;
	top:105%;
	left:0;
	width:180px;
	display:none;
	z-index:10;
}
.submenu .trail
{
	border:solid;
	border-width:10px 0 10px 10px;
	border-color:transparent blue rgba(20,20,20,0.9) transparent;
	width:0;
	height:0;
	position:absolute;
	float:left;
	margin:0 0 0 10px;
}
.submenu ul.menuItem
{
	float:left;
	width:100%;
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.9);
}
.submenu ul.menuItem li
{
	width:90%;
	margin-right:10%;
	padding:5px 0 5px 0;
	color:rgb(204,204,204);
}
.submenu ul.menuItem li:hover
{
	color:#50AFF2;
	cursor:pointer;
}

/*statusBar sstart*/
.statusBar
{
	width:100%;
	height:100%;
	position:fixed;
	overflow:visible;
	z-index:50;
	direction:rtl;
	display: none;
}
.statusBar .Back
{
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.7);
	width:100px;
	height:100px;
	margin-top:-50px;
	margin-left:-50px;
	top:50%;
	left:50%;
	position:absolute;
	z-index:51;
}
.statusBar .main
{
	background:rgba(204,204,204,1) url(../img/icons/bg.png) repeat;
	width:0%;
	height:0;
	top:175px;
	right:50%;
	position:absolute;
	z-index:52;
	border-radius:10px;
	box-shadow:5px 5px 15px rgba(0,0,0,0.7);
	overflow:hidden;
}
.statusBar .main header
{
	width:100%;
	height:50px;
	border-radius:10px 10px 0 0;
	padding:10px 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	position:relative;
}
.statusBar .main header
{
	width:100%;
	height:50px;
	border-radius:10px 10px 0 0;
	padding:10px 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	position:relative;
	background:url(../img/icons/bg.png) repeat-x;
}
.statusBar .main header .systemClose
{
	position:absolute;
	top:5px;
	left:5px;
	width:32px;
	height:32px;
	background:url(../img/icons/cls.png) right;
}
.statusBar .main header .systemClose:hover
{
	cursor:pointer;
	background-position:left;
}
.statusBar .main.red header
{
	background-color:rgba(204,51,0,1);
	color:rgba(204,204,204,1);
	text-shadow:1px 1px 1px #000000;
}
.statusBar .main.blue header
{
	background-color: rgba(102,102,255,1);
	color:rgba(204,204,204,1);
	text-shadow:1px 1px 1px #000000;
}
.statusBar .main.green header
{
	background-color:rgba(204,51,0,1);
	color:rgba(204,204,204,1);
	text-shadow:1px 1px 1px #000000;
}
.statusBar .main.yellow header
{
	background-color:rgba(204,204,0,1);
	color:rgba(51,51,51,1);
	text-shadow:1px 1px 1px #fff;
}
.statusBar .main > span
{
	line-height:30px;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	color:rgba(51,51,51,1);
	text-shadow:-1px 1px 1px rgba(255,255,255,0.7);
	padding:10px;
}
/*statusBar end*/
.loader {
	width:50px;
	height:50px;
}

/*go to top*/
#goToTop
{
	position:fixed;
	z-index:11;
	width:48px;
	height:48px;
	left:20px;
	bottom:20px;
	background:url(../img/icons/goToTop.png);
	display:none;
	cursor:pointer;
}

#MessageBox .contentTag ul.MessageList .newComnt form
{
	float:right;
	margin:0;
	padding:0;
	position:relative;
}
#MessageBox .contentTag ul.MessageList .newComnt form .commentCloud
{
	position:absolute;
	right:55px;
	top:-20px;
}
#MessageBox .contentTag ul.MessageList .newComnt form input[type="button"]
{
	position:absolute;
	left:0px;
	top:-30px;
}
#MessageBox .contentTag ul.MessageList .newComnt form .commentTXB2
{
	float:right;
	margin:10px 5px 0 0 ;
	width:405px;
	height:30px;
	padding:5px;
	border:none;
	box-shadow:0 0 1px rgba(0,0,0,0.5);
	color:#30709E;
	font-size:12px;
	border-radius:5px;
}
#MessageBox #message_content
{
	height: 350px;
	overflow-y: auto;
}
.message_icon
{
	background-image:url(../img/icons/Mail.png);
}
#MessageBox
{
	width:710px;
	height:545px;
}
#MessageBox .close
{
	position:absolute;
	top:5px;
	left:5px;
	z-index:26;
}
#MessageBox .topTag
{
	width:100%;
	height:70px;
	background:rgba(0,0,0,0.1);
	float:right;
	border-radius:10px 10px 0 0;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#MessageBox .topTag h1
{
	font-size:14px;
	width:100%;
	height:35px;
	margin:0;
	float:right;
	text-shadow:-1px 1px 1px rgba(255,255,255,1);
	padding:10px 5px 0 0px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	text-align:center;
}
#MessageBox .topTag ul.icons
{
	float:right;
	margin:5px;
}
#MessageBox .topTag ul.icons li
{
	float:right;
	display:inline-block;
	margin:0px 10px 0 5px;
	color:rgba(153,153,153,1);
	cursor:pointer;
}
#MessageBox .topTag ul.icons li:hover
{
	color:rgba(102,102,102,1);
}
#MessageBox .topTag ul.icons li:hover > div
{
	background-position:right;
}
#MessageBox .topTag ul.icons li .newMessage
{
	float:right;
	margin-top:-5px;
}
#MessageBox .contentTag
{
	width:100%;
	height:100%;
	border-radius:10px 10px 0 0;
	padding-top:70px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e3f1fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3f1fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e3f1fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e3f1fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e3f1fc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e3f1fc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3f1fc',GradientType=0 ); /* IE6-9 */
}
#MessageBox .contentTag ul.SenderName
{
	width:250px;
	height:100%;
	float:right;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	/*border-bottom:2px rgba(153,153,153,1) solid;*/
	overflow-y: scroll;
	overflow-x: hidden;
}
#MessageBox .contentTag ul.SenderName li
{
	padding:5px;
	/*border-bottom:1px solid rgba(0,0,0,0.1);*/
	color:rgba(102,102,102,1);
	cursor:pointer;
	position:relative;
}
#MessageBox .contentTag ul.SenderName li:hover,
#MessageBox .contentTag ul.SenderName li.active
{
	background-color:rgba(0,0,0,0.1);
}
#MessageBox .contentTag ul.SenderName li.unreaded
{
	font-weight:bold;
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.1)
}
#MessageBox .contentTag ul.SenderName li .date
{
	color:rgba(153,153,153,1);
	padding-right:5px;
}
#MessageBox .contentTag ul.SenderName li .delete
{
	position:absolute;
	top:2px;
	left:2px;
	width:16px;
	height:16px;
	background:url(../img/icons/delete.png) left;
	opacity:0.2;
}
#MessageBox .contentTag ul.SenderName li .delete:hover
{
	opacity:1;
	background-position:right;
}
#MessageBox .contentTag ul.SenderName li img
{
	margin-left:5px;
	width:40px;
	height:40px;
}
#MessageBox .contentTag ul.MessageList
{
	float:right;
	width:459px;
	height:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	/*border-bottom:2px rgba(153,153,153,1) solid;*/
	position:relative;
}
#MessageBox .contentTag ul.MessageList li
{
	padding:5px;
	line-height:25px;
}
#MessageBox .contentTag ul.MessageList li.sender .name
{
	color:rgba(0,153,102,1);
	font-weight:bold;
}
#MessageBox .contentTag ul.MessageList li.sender .text
{
	color:rgba(153,153,153,1);
}
#MessageBox .contentTag ul.MessageList li.receiver .name
{
	color:rgba(0,102,153,1);
	font-weight:bold;
}
#MessageBox .contentTag ul.MessageList li.receiver .text
{
	color:rgba(103,103,103,1);
}

/*answer*/
#MessageBox .contentTag ul.MessageList .newComnt
{
	background:rgba(204,204,204,0.2);
	position:absolute;
	bottom:0;
	left:0;
	padding:5px;
	height:110px;
	opacity:0.1;
}
#MessageBox .contentTag ul.MessageList .newComnt:hover
{
	opacity:0.8;
}
#MessageBox .contentTag ul.MessageList .newComnt img.profile
{
	float:right;
	width:50px;
	height:50px;
	margin:0 5px -5px 5px;
}
#MessageBox .contentTag ul.MessageList .newComnt form
{
	float:right;
	margin:0;
	padding:0;
	position:relative;
}
#MessageBox .contentTag ul.MessageList .newComnt form .commentCloud
{
	position:absolute;
	right:55px;
	top:-20px;
}
#MessageBox .contentTag ul.MessageList .newComnt form input[type="submit"]
{
	position:absolute;
	left:0px;
	top:-30px;
}
#MessageBox .contentTag ul.MessageList .newComnt form .commentTXB2
{
	float:right;
	margin:10px 5px 0 0 ;
	width:405px;
	height:50px;
	padding:5px;
	border:none;
	box-shadow:0 0 1px rgba(0,0,0,0.5);
	color:#30709E;
	font-size:12px;
	border-radius:5px;
}

/*new message*/
#MessageBox .contentTag .newMSG
{
	float:right;
	width:450px;
	height:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	/*border-bottom:2px rgba(153,153,153,1) solid;*/
	position:relative;
	display:none;
}
#MessageBox .contentTag .newMSG ul.friendsList
{
	height:300px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-bottom:1px solid rgba(204,204,204,1);
	position:absolute;
	top:45px;
	z-index:2;
	display:none;
}
#MessageBox .contentTag .newMSG ul.friendsList span
{
	width:98%;
	margin-right:2%;
	float:right;
}
#MessageBox .contentTag .newMSG ul.friendsList li
{
	width:80px;
	height:80px;
	float:right;
	margin:10px;
	background:rgba(153,153,153,1);
	border-radius:10px;
	overflow:hidden;
	position:relative;
}
#MessageBox .contentTag .newMSG ul.friendsList li img
{
	width:inherit;
	height:auto;
}
#MessageBox .contentTag .newMSG ul.friendsList li .add
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:20px;
	background:rgba(255,255,255,0.4) url(../img/icons/addReciever.png) no-repeat left bottom;
	z-index:27;
}
#MessageBox .contentTag .newMSG ul.friendsList li .add:hover
{
	background-position:right;
	background-color:rgba(255,255,255,0.6);
	cursor:pointer;
}
#MessageBox .contentTag .newMSG form
{
	margin:0;
	padding:0;
	height:95%;
	width:450px;
	position:relative;
}
#MessageBox .contentTag .newMSG form label
{
	float:right;
	margin:5px;
}

#MessageBox .contentTag .newMSG form input.btn,
#MessageBox .contentTag .newMSG form .receiver_show
{
	float:right;
	margin:5px;
}
#MessageBox .contentTag .newMSG form .receiver_show
{
	padding:5px;
}
#MessageBox .contentTag .newMSG form .receiver_show img
{
	margin:-0px 0;
	width:20px;
	height:auto;
}
#MessageBox .contentTag .newMSG form input[type="submit"]
{
	float:right;
	margin:5px;
}
#MessageBox .contentTag .newMSG form input[type="text"]
{
	float:right;
	height:27px;
	padding:5px;
	margin:5px;
	width:190px;
}
#MessageBox .contentTag .newMSG form .space_warper
{
	float:right;
	height:300px;
	width:100%;
	display:none;
}
#MessageBox .contentTag .newMSG form textarea
{
	float:right;
	margin:10px 5px 0 0 ;
	width:425px;
	height:70px;
	padding:5px;
	border:none;
	box-shadow:0 0 1px rgba(0,0,0,0.5);
	color:#30709E;
	font-size:12px;
	border-radius:5px;
}
/*
	search suggest
*/
#search_display
{
	background: none repeat scroll 0 0 #242424;
    border-radius: 0px 0px 7px 7px;
    position: absolute;
    top: 30px;
    width: 330px;
    z-index: 2;
	line-height:30px;
	right: 100px;
	
}
#search_display div
{
	width: 290px;
	color: #ffffff;
	text-align: center;
}
#search_display a
{
	color:#FFF;
	text-decoration:none;
}
#search_display a img
{
	width:25px;
	margin-right:2px;
	margin-left:5px;
}
#search_display a:hover
{
	background:#434242;
	display:block;
}
#search_loading
{
	float: right;
    margin-right: 99px;
}
#content  .sideMenu .MenuItem
{
	margin-right:10px;
}
#content  .sideMenu ul.MenuItem li
{
	background:url(../img/icons/left_arrow.png) no-repeat center right;
	padding:0 20px 2px 0;
	margin:10px;
	color:#444;
}
#content  .sideMenu ul.MenuItem li.active
{
	background-color:rgba(0,0,0,0.1);
}
.edit_industry
{
	line-height: 25px;
	
}
.edit_industry select
{
	font-family: tahoma;
}
.flash_error{
    margin: 5px;
    padding: 12px;
    background-color: #bf4a4a;
    border: 1px solid #8c3333;
    font-weight: bold;
    color: #2f1111;
    min-width: 300px;
    width: auto;
}
.flash_success{
    margin: 5px;
    padding: 12px;
    background-color: #65bf4a;
    border: 1px solid #468d32;
    font-weight: bold;
    color: #172f11;
    min-width: 300px;
    width: auto;
}

.flash_info{
    margin: 5px;
    padding: 12px;
    background-color: #659ec9;
    border: 1px solid #31648e;
    font-weight: bold;
    color: #172f11;
    min-width: 300px;
    width: auto;
}


